extends ./layout/layout

block css
  link(rel="stylesheet", href="/css/main.css")
  link(rel="stylesheet", href="/css/album.css")
//- 
  artList
    头像
    tips
    文章url
    作者
    时间
    评论数

block contents
  .blog-column-right
    a(href="/album/upload").layui-btn.layui-bg-blue 继续上传
    .img-list
        .layui-fluid(style="padding:0")
            .layui-row.layui-col-space30.space
                each info in album
                    .layui-col-xs12.layui-col-sm4.layui-col-md4
                        .item
                            img(src=info.photo)
                            .cont-text
                                .img
                                  img(src=info.user.avatar)
                                  p= info.user.username
                                  p 上传于:
                                  .data= info.created.toLocaleString().slice(0, 9)
                                p.address
                                    i.layui-icon.layui-icon-location
                                    span= info.site
                                p.briefly= info.content
    include ./layout/laypage.pug

block scripts
  script(type="text/javascript", src="/js/album.js")
  script( type="text/javascript").
    const list = document.querySelectorAll(".space .layui-col-xs12");
    const btn = document.querySelectorAll(".blog-column-right .layui-btn")[0];
    const listLeft = document.getElementById("laypage");
    const textLeft = document.getElementsByClassName('layui-fluid')[0]
    const content = document.getElementsByClassName('briefly');
    for(let i = 0; i < content.length; i++){
      let text = content[i].innerText;
      content[i].innerHTML = `${text}`
    }
    layui.config({
      base: '../res/js/util/'
    }).use(['element','laypage','form','layer','menu'],function(){
      element = layui.element,laypage = layui.laypage,form = layui.form,layer = layui.layer,menu = layui.menu;
      laypage.render({
        elem: 'demo'
        ,count: 70 //数据总数，从服务端得到
      });
      layer.photos({
        photos: '#layer-photos-demo',
        anim: 5,
        tab: function(pic,layero){
          console.log(pic,layero)
        }
      });
      menu.init(); 
    });
    if(list.length === 0){
      listLeft.style.display = 'none';
      btn.style.display = 'none'      
      textLeft.innerHTML = `<p class='addalbum'>还没有小伙伴展示自己呢，赶紧<a class="layui-btn layui-bg-blue" href="/album/upload"">展示一下</a>吧 !</p>`      
    }else{
      listLeft.style.display = 'block';
    };  